.profile {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(160px, max-content) 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "edit favorites"
    "editform favorites";
  padding: 0 60px;
  color: $color-black;
  &__edit {
    grid-area: edit;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 12px;
  }
  &__location {
    color: $color-grey;
  }
  &__table {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    &-item {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      text-align: left;
      .text:first-child {
        font-weight: bold;
      }
    }
  }
  &__info {
    display: flex;
    flex-flow: column nowrap;
  }
  &__img {
    height: 140px;
    min-width: 140px;
    display: grid;
    place-items: center;
    background: $color-lightgrey;
    border-radius: 50% 50%;
    .heading-2 {
      font-size: 4rem;
    }
  }
  &__favorite {
    grid-area: favorites;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 0 8px;
    color: $color-black;
  }
  &__filter {
    display: flex;
    align-items: center;
    gap: 0 8px;
    background: transparent;
    width: fit-content;
  }
  &__form {
    grid-area: editform;
  }
}