.politician {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px min-content 1fr;
  gap: 30px 60px;
  grid-template-areas:
    "back ..."
    "profile personal"
    "badges financial";
    padding: 0 60px;
  @media screen and (max-width: 850px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "back"
      "profile"
      "personal"
      "badges"
      "financial";
  }
  &__profile {
    color: $color-black;
    display: grid;
    grid-area: profile;
    grid-template-columns: 140px minmax(380px, max-content);
    grid-template-rows: max-content 44px;
    grid-template-areas:
      "photo text"
      "badges badges";
    gap: 20px 12px;
    position: relative;
    height: min-content;
    &-votes {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      align-content: flex-start;
      width: 100%;
      grid-area: badges;
    }
    &_img {
      grid-area: photo;
      width: 140px;
      height: 140px;
      object-fit: cover;
      border-radius: $radius-sm;
    }
    &__container {
      grid-area: text;
      .profile__name {
        color: $color-black;
      }
      .profile__running {
        color: $color-lightgrey;
      }
      .profile__number {
        color: $color-black;
      }
    }
  }
  a:hover .politician__link{
    transform: scale(1.02);
    box-shadow: $shadow-lg;
  }
  &__link {
    cursor: pointer;
    height: 60px;
    width: 160px;
    border-radius: $radius-sm;
    background-color: $color-marine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition:
      box-shadow 0.4s ease-in-out,
      transform 0.4s ease-in-out;
    padding: 0 8px;
    box-shadow: $shadow-sm;
    img {
      height: 50px;
      width: 50px;
      object-fit: contain;
    }
    &-text {
      color: $color-white;
    }
  }
  &__table {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 0 15px;
    &_item {
      display: inherit;
      align-items: flex-start;
      flex-flow: column nowrap;
      gap: 2px 0;
      overflow: hidden;
      [class^=text] {
        max-width: 220px;
        white-space: normal !important;
        color: $color-black;
        &:first-child { font-weight: bold; }
      }
    }
  }
  &__personal {
    border-radius: $radius-md;
    grid-area: personal;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    &_header {
      color: $color-lilac;
    }
    .politician__table {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__vote {
    grid-area: badges;
    display: flex;
    gap: 20px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    height: min-content;
  }
  &__link-options {
    display: flex;
    gap: 20px;
    height: fit-content;
    width: 100%;
  }
  &__financial {
    grid-area: financial;
    &_title { color: $color-lilac; }
    &_total { color: $color-black; }
    &_number { color: $color-light-tomato; }
  }
}
