<div class="card-mini">
  <img src="https://source.unsplash.com/140x140/?profile" alt="" class="card-mini__img">
  <span class="card-mini__overlay"></span>
  <div class="card-mini__info">
    <h2 class="text card-mini__name">Teste</h2>
    <div class="card-mini__options">
      <div class="card-mini__links">
        <i class="fas fa-address-card"></i>
        <i class="fas fa-heart"></i>
      </div>
      <h2 class="card-mini__candidate-number title">13855</h2>
    </div>
  </div>
</div>