<footer class="footer">
  <h2 class="heading-2">Palanque</h2>
  <p class="text-small">Todas informações são tiradas na íntegra dos dados do governo.</p>
  <div class="footer__social">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
  </div>
</footer>