@use "mixins";

.btn {
  color: $color-black;
  background-color: $color-lightgrey;
  border-radius: $radius-sm;
  min-height: 44px;
  min-width: 120px;
  transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  @include font-default("text");

  @each $name, $bg, $color in $btn-color-list {
    &-#{$name} {
      background-color: $bg;
      color: $color;
      &:hover {
        background-color: mix($color-black, $bg, 35%);
      }
      &:focus,
      &:focus-within {
        @include focus-shadow($bg);
      }
    }
  }
  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.btn-candidate {
  background: $color-light-tomato;
  border: none;
  border-radius: 100px;
  color: #fafafa;
  outline: none;
  overflow: hidden;
  padding: 0.250rem 1rem;
  position: relative;
  transition: box-shadow .2s ease-in-out;
  width: fit-content;
  display: flex;
  align-items: center;
  span {
    position: relative;
    width: 16ch;
    text-align: left;
  }
  i {
    font-size: 2rem;
  }
  &:hover {
    box-shadow: 
      0px 5px 11px -7px rgb(112, 112, 112);
    &::before {
      --size: 400px;
    }
  }
  &::before {
    --size: 0;
    content: '';
    background: radial-gradient(
      circle closest-side,
      $color-lilac,
      $color-bordo,
      transparent
    );
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    width: var(--size);
    height: var(--size);
    transition: 
      width .2s ease,
      height .2s ease-out;
  }
}

