.link {
  width: fit-content;
  position: relative;
  &--hoverable {
    color: $color-lilac;
    .text { white-space: nowrap; }
    &::before{
      content: "";
      background: currentColor;
      height: 2px;
      width: 0;
  
      position: absolute;
      bottom: -3px;
      left: 0;
      transition: width .4s ease-in-out;
    }
    &:hover::before {
      width: 100%;
    }
  }
  &--fixed {
    align-self: flex-end;
    color: $color-light-tomato;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    transition: color 0.4s ease-in-out;
    .text { white-space: nowrap; }
    & > .fas {
      position: absolute;
      top: 52%;
      right: 0;
      transform: translate(0, -50%);
      transition: transform 0.4s ease-in-out;
    }
    & > .text {
      margin-right: 12px;
    }
    &:hover {
      color: $color-tomato;
      & > .fas {
        transform: translate(5px, -50%);
      }
    }
  }
}

.go-back {
  grid-area: back;
  @extend .link--fixed;
  gap: 0 15px;
  width: fit-content;
  margin-left: 15px;
  & > .fas {
    right: initial !important;
    top: 50% !important;
    left: -15px;
  }
}

.info-link {
  height: 70px;
  width: clamp(250px, 80%, 310px);
  border-radius: $radius-md;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $color-white;
  flex: 1;
  transition: background .3s ease-in-out;
  &--profile {
    background-color: $color-light-marine;
    &:hover {
      background: $color-marine;
    }
  }
  &--shuffle {
    background-color: $color-light-tomato;
    &:hover {
      background: $color-tomato;
    }
    .fas {
      font-size: 2rem;
    }
  }
  &__img {
    height: 60px;
    object-fit: contain;
  }
}