.navbar {
  background-color: $color-lilac;
  color: $color-lighter-tomato;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 60px;
  height: 60px;
  width: 100%;
  @media screen and (max-width: 420px) {
    padding: 0 10px;
  }
  &__menu {
    @extend .title;
    display: inherit;
    align-items: center;
    gap: 0 40px;
    &_options {
      position: absolute;
      top: 100%;
      padding: 8px;
      background: $color-lilac;
      width: 100%;
      opacity: 0;
      border-radius: $radius-sm;
      transition: opacity 0.4s ease-in-out;
    }
    &_item {
      display: inherit;
      align-items: center;
      flex-wrap: nowrap;
      gap: 0 8px;
    }
    &_dropdown {
      display: inherit;
      flex-flow: column nowrap;
      position: relative;
      top: 1px;
      z-index: 3;
      &:hover .navbar__menu_options {
        opacity: 1;
      }
    }
    &_toggler {
      height: 60px;
      width: max-content;
      background: transparent;
      color: $color-lighter-tomato;
    }
  }
}
